<header>
    <div class="flex w-full bg-[#128C7E] justify-between h-10 items-center">
        <h1 class="text-white font-medium text-xl ml-4">WhatsApp</h1>
        <div class="flex">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="photo_camera" class="text-white text-md mx-1"></mat-icon>
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="search" class="text-white text-md mx-1"></mat-icon>
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="more_vert" class="text-white text-md mx-1"></mat-icon>
        </div>
    </div>
    <mat-tab-group class="bg-[#128C7E]">
        <mat-tab label="Chats">
            <app-chat-whats-app *ngFor="let chats of chat"
            [imagenContacto]="chats.imagen" 
            [nombreContacto]="chats.nombre" 
            [mensajeContacto]="chats.mensaje" 
            [estatusMensaje]="chats.estatus"
            [fechaMensaje]="chats.fecha" 
            [numMensajes]="chats.numMensajes"
            (accionMensajeAbierto)="abrirMensaje($event)"
                >
            </app-chat-whats-app>
        </mat-tab>
        <mat-tab label="Novedades"></mat-tab>
        <mat-tab label="Llamadas"></mat-tab>
    </mat-tab-group>
</header>
